h1 {
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    padding-top: 40px;
}

.post-table {
    padding-left: 25%;
    padding-right: 25%;
}

textarea.form-control {
    height: 340px;
}