{{>layout/header}}
    <div class="row">
        <div class="login-buttons">
            {{#userName}}
                <div class="login-message">
                    [ <span id="user">{{userName}}</span> ]님, 반갑습니다!
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                </div>
            {{/userName}}
            {{^userName}}
                <div class="login-menubar">
                    <ul>
                        <li><a href="" id="login">LOGIN</a>
                            <ul>
                                <li><a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a></li>
                                <li><a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {{/userName}}
        </div>
    </div>
    <h1 class="index-title">TASTE MAP</h1>
    <div class="col-md-12 posts">
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
{{>layout/footer}}